<%- include('partials/header') %>

<h2><%= platform.name %></h2>
<p><strong>Description:</strong> <%= platform.description %></p>
<p><strong>Website:</strong> <a href="<%= platform.website %>" target="_blank"><%= platform.website %></a></p>

<%- include('partials/footer') %>